arrow==1.1.0
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
dateparser==1.0.0
Flask==2.0.1
google-api-core==1.28.0
google-api-python-client==2.6.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gspread==3.7.0
httplib2==0.19.1
humanize==3.5.0
idna==2.10
install==1.3.4
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpickle==2.0.0
loguru==0.5.3
MarkupSafe==2.0.1
maya==0.6.1
numpy==1.20.3
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.9
pandas==1.2.4
pendulum==2.1.2
protobuf==3.17.1
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pytzdata==2020.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
segtok==1.5.10
six==1.16.0
snaptime==0.2.4
stravaio==0.0.9
stravalib==0.10.2
template-render==0.1.0
tzlocal==2.1
units==0.7
uritemplate==3.0.1
urllib3==1.26.5
Werkzeug==2.0.1
